body{
  margin:0;
  font-family:Segoe UI;
  background:#eef6f9;
}
.wrapper{
  display:flex;
  width:1000px;
  margin:5% auto;
  background:white;
  border-radius:20px;
}
.left{
  width:45%;
  padding:50px;
  background:#f3fbfe;
}
.right{
  width:55%;
  padding:40px;
}
.tabs button{
  width:50%;
  padding:10px;
  border:none;
}
.tabs .active{background:#00a8c6;color:white;}
input,select{width:100%;padding:12px;margin:8px 0;border-radius:10px;}
button{width:100%;padding:14px;background:#00a8c6;color:white;border:none;border-radius:12px;}
.hidden{display:none;}
.logo{width:80px;}
